* {
    font-family: 'Work Sans', sans-serif;
}

.features {
    /* font-size: 12px; */
}

.feature-name {
    font-size: 18px;
    /* margin-bottom: 20px; */
}

.fav-icon {
    font-SIZE: 13px;
}

.arrow {
    background-color: rgb(255, 215, 215);
    padding: 15px;
    margin-left: 160px;
    margin-bottom: px;
    border: none;
}

.arrow:hover {
    color: red;
}

.details-section-container {
    width: 487px;
    height: 511px;
    background: rgba(235, 87, 87, 0.05);
    border: 1px solid #EB5757;
    border-radius: 16px;
    padding: 30px;


    /* margin: 40px;
    margin-top: 30px; */
}

.details-description {
    font-size: 20px !important;
}

/* .arrowDetailModal{
    background: rgba(235, 87, 87, 0.05);
border: 1px solid #EB5757;
border-radius: 16px;
} */
.green {
    width: 131px;
    height: 100px;
    margin-top: 30px;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EB5757;
    border-radius: 10px;
    background: #FFFFFF;
    padding-left: 10px;
}

.orange {
    width: 131px;
    height: 100px;
    margin-top: 30px;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EB5757;
    border-radius: 10px;
    background: #FFFFFF;
    padding-left: 10px;
}

.red {
    width: 131px;
    height: 100px;
    margin-top: 30px;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EB5757;
    border-radius: 10px;
    background: #FFFFFF;
    padding-left: 10px;
}

/* Right section */

.detail-image{
    padding-left: 20px;
    width: 487px;
    height: 511px;
    left: 797px;
    top: 601px;
}

.detail-image img {
    width: 437px;
    height: 339px;
    border-radius: 16px;
}

/* .image-section img{
    width: 437px;
    height: 339px;

    
} */

/* .details-image {
    position: absolute;
    width: 437px;
    height: 339px;
    border-radius: 10px;

} */

.btn-accuracy {
    width: 140px;
    height: 32px;
    position: absolute;
    left: 860px;
    top: 108px;
}
.input-text{
    padding-left: 100px;
    text-align: center;
}

/* Button close */
.btn-close{
    background-color: #EB5757 !important;
}